<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AHLaunchCtl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LaunchControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>com.eeaapps.launchctl.helper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE5B001A18A55BAA000D8603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE76C6F018A19369003C94A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE76C70318A19369003C94A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE91DC4318A586D5000FD8D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE91DC5D18A586D5000FD8D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEBE2F6C18A6AA0800A3028B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
